.heading {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5rem;
}
.loader {
  margin-top: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  border-top: 5px solid #000;
  border-right: 5px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  align-self: center;
  justify-self: center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.todoitem {
  display: flex;
  gap: 10px;
  margin-left: 2rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  width: 85%;
  text-align: left;
}
.wrap-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.wrap-left {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: #c0c0c0;
  box-shadow: 0.5rem 0.8rem 05rem #c0c0c0;
  width: 60%;
  padding: 2rem;
  border-radius: 2rem;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.button {
  border-style: none;
  padding: 1rem;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  cursor: pointer;
}
.selected-tab {
  border-style: none;
  padding: 1rem;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  background-color: white;
  color: black;
}
.unselected-tab {
  background-color: #282c34;
  color: white;
  border-style: none;
  padding: 1rem;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;

  cursor: pointer;
}
.unselected-tab:hover {
  background-color: #000;
}
.small-button {
  padding: 5px 10px;
  cursor: pointer;
  align-self: center;
  border-style: none;
  background-color: #000;
  color: white;
}

.input {
  width: 30rem;
  height: 2rem;
  align-self: center;
  border-radius: 2rem;
  text-align: center;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  margin: 10px 0px;
}
.error-input {
  border-color: red;
  width: 30rem;
  height: 2rem;
  align-self: center;
  border-radius: 2rem;
  text-align: center;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  margin: 10px 0px;
}
.error-input::placeholder {
  color: red;
}

.header {
  height: 120px;
  width: 100%;
  background-color: black;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nav-item {
  border-style: none;
  color: white;
  text-transform: uppercase;
  text-decoration: overline;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  transition: font-size 0.2s ease-in-out;
}
.nav-item:hover {
  font-size: 2.2rem;
  text-decoration: none;
  transition: font-size 0.2s ease-in-out;
}
.dashboard {
  margin-top: 50px;
  background-color: antiquewhite;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 4px 4px 9px #c0c0c0;
}
.dashboard-item {
  font-family: "Courier New", Courier, monospace;
}
