.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader {
  margin-top: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  border-top: 5px solid #000;
  border-right: 5px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  align-self: center;
  justify-self: center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.todoitem {
  display: flex;
  gap: 10px;
  margin-left: 2rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  width: 85%;
  text-align: left;
}
.wrap-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.wrap-left {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: #c0c0c0;
  box-shadow: 0.5rem 0.8rem 05rem #c0c0c0;
  width: 60%;
  padding: 2rem;
  border-radius: 2rem;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.button {
  border-style: none;
  padding: 1rem;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  cursor: pointer;
}
.selected-tab {
  border-style: none;
  padding: 1rem;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;

  cursor: pointer;
  background-color: white;
  color: black;
}
.unselected-tab {
  background-color: #282c34;
  color: white;
  border-style: none;
  padding: 1rem;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;

  cursor: pointer;
}
.unselected-tab:hover {
  background-color: #000;
}
.delete-button {
  padding: 5px 10px;
  cursor: pointer;

  align-self: center;
  border-style: none;
  background-color: #000;
  color: white;
}
